.navPrimary{
    margin-left: 200px;
    font-size: 18px;
    margin-bottom: 20px;

    
    
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:56px;
        padding-top: 30px;
    
        a{
            color:black;
            font-weight: 400;
            
        }
    }
}

.login{
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}